.calendar {
	top: 0em;
	left: 1em;
	padding-top: 5px;
	width: 80px;
	background: #ededef;
	font-size: 54px;
	text-align: center;
	color: #000;

	border-radius: 3px;
	position: absolute;
}

.calendar em {
	display: block;
	font-size: 15px;
	color: #fff;
	background: #04599a;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.calendar:before {
	left: 11px;
	content: "";
	float: left;
	width: 8px;
	height: 8px;
	background: #111;
	z-index: 1;
	border-radius: 10px;
	box-shadow: 0 1px 1px #fff;
	position: absolute;
}

.calendar:after {
	right: 11px;
	content: "";
	float: left;
	width: 8px;
	height: 8px;
	background: #111;
	z-index: 1;
	border-radius: 10px;
	box-shadow: 0 1px 1px #fff;
	position: absolute;
	transform: translateY(-62px);
}

.calendar em:before {
	left: 13px;
	content: "";
	float: left;
	margin: 10px;
	width: 4px;
	height: 14px;
	background: #dddde2;
	z-index: 2;
	position: absolute;
	transform: translate(-10px, -82px);
	border-radius: 10px;
}

.calendar em:after {
	right: 13px;
	content: "";
	float: left;
	margin: 10px;
	width: 4px;
	height: 14px;
	background: #dddde2;
	z-index: 2;
	position: absolute;
	transform: translate(10px, -82px);
	border-radius: 10px;
}
